<link href="index.css" rel="stylesheet">
<div id="Loading">
  <section class="jumbotron text-center vertical-center">
    <div class="container">
      <img src="/favicon.svg" width="250px" height="250px" alt="{{__ 'Loading icon'}}"
        style="animation: .75s linear infinite spinner-grow;opacity: 0;">
      <p class="lead text-muted">{{__ 'Loading...'}}</p>
    </div>
  </section>
</div>
<div style="display: none;" id="Main">
  {{{Main}}}
</div>
<div id="Settings" style="display: none;">
  {{{Settings}}}
</div>
<div> <!-- toast -->
  <div aria-live="polite" aria-atomic="true" class="position-relative"></div>
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="notification_toast" class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <div class="me-2" width="20" height="20" role="status">{{__ '👋 '}}<span class="visually-hidden">{{__
            'Loading...'}}</span> </div> <strong class="me-auto">{{__ 'System'}}</strong><button type="button"
          class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div id="notification_toast_btn" class="toast-body">{{__ ' Hi! It would be great to have a connection with the
        interlocutor! Allow me to
        receive notifications ) '}}<div class="mt-2 pt-2 border-top"> <button type="button"
            class="btn btn-primary btn-sm">{{__
            'Allow'}}</button> </div>
      </div>
    </div>
  </div>
  <script>var langpromize = fetch('{{getLocale}}.json')</script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"
    integrity="sha512-iZIBSs+gDyTH0ZhUem9eQ1t4DcEn2B9lHxfRMeGQhyNdSUz+rb+5A3ummX6DQTOIs1XK0gOteOg/LPtSo9VJ+w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>