<div class="text-center pagination-centered"><p class="text-secondary"><%=__('Settings')%></p></div>
    <div class="row">
        <div class="col-md-4 position-sticky"
            style="padding: calc(var(--bs-gutter-x)* .5);top: 0;background: rgba(var(--bs-body-bg-rgb),.1);backdrop-filter: blur(4px);">
            <div style="margin-top: 1rem;">
                <nav id="settings-navbar" class="h-100 flex-column align-items-stretch">
                    <ul class="nav nav-pills settings-ui">
                        <% for( let elem in settings_json) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="#settings-<%=elem%>">
                                    <%=__(elem)%>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>

      <div class="col-md-8" style="padding: calc(var(--bs-gutter-x)* .5);">
        <div data-bs-spy="scroll" data-bs-target="#settings-navbar" data-bs-smooth-scroll="true"
          class="border-if-pc" tabindex="0">
          <% for( let elem in settings_json) { %>
            <h2 id="settings-<%=elem%>"><%=__(elem)%></h2>
                <% for(let obj of settings_json[elem]) {%>
                    <% if (obj.type === "string") { %>
                        <div class="mb-3"> <label for="settings-<%=obj.id%>" class="form-label"><%=__(obj.name)%></label><input
                            type="text" class="form-control" id="settings-<%=obj.id%>"> 
                            </div>
                    <% } else if (obj.type === "boolean") { %>
                        <div class="mb-3">
                            <div class="form-check"> <input class="form-check-input" type="checkbox" id="settings-<%=obj.id%>">
                              <label class="form-check-label" for="settings-<%=obj.id%>"><%=__(obj.name)%></label>
                            </div>
                          </div>
                    <% } else if (obj.type === "select") { %>
                        <div class="mb-3"> <label for="settings-<%=obj.id%>" class="form-label"><%=__(obj.name)%></label> <select
                            class="form-select" id="settings-<%=obj.id%>" aria-label="<%=__(obj.name)%>">
                            <% for(let elem of obj.elements) {%>
                            <option value="<%=elem.id%>"><%=__(elem.name)%></option>
                            <% } %>
                             </select>
                        </div>
                    <% } else if (obj.type === "integer") { %>
                        <div class="mb-3"> <label for="settings-<%=obj.id%>" class="form-label">
                                <%=__(obj.name)%>
                            </label> <input type="number" class="form-control" id="settings-<%=obj.id%>-num" min="<%=obj.min ?? ""%>" max="<%=obj.max ?? ""%>"
                                onchange="$('#settings-<%=obj.id%>').val(value)"> <input type="range" class="form-range" min="<%=obj.min ?? ""%>" max="<%=obj.max ?? ""%>"
                                id="settings-<%=obj.id%>" onchange="$('#settings-<%=obj.id%>-num').val(value)"> </div>
                    <% } %>
                <% } %>
            <% } %>
          <div class="mb-3"> <button class="btn btn-outline-secondary btn-sm w-100" type="button"
              data-bs-toggle="collapse" data-bs-target="#external_sett" aria-expanded="false"
              aria-controls="external_sett"><%=__('External')%></button>
            <div class="collapse" id="external_sett">
              <div class="card card-body">
                <div class="mb-3"> <button id="clearAll" type="button" class="btn btn-outline-secondary w-100"><%=__('Clear all voice_chat data')%></button> </div>
                <div class="mb-3">
                  <div class="form-check"> <input class="form-check-input" type="checkbox" id="settings-debug"> <label
                      class="form-check-label" for="settings-debug"><%=__(' Debug mode ')%></label> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 jumbotron text-center position-sticky" style="bottom: 0;background: rgba(var(--bs-body-bg-rgb),.1);backdrop-filter: blur(4px);">
        <div style="margin-bottom: 1rem;">
          <button type="button" class="btn btn-secondary"  id="closeSettings"><%=__('Close')%></button>
          <button type="button" class="btn btn-primary"  id="saveSettings"><%=__('Save changes')%></button> 
        </div>
      </div>
    </div>
  </div>