<style>
    #snowflake-parent{
        perspective: 200px;
    }
    #snowflake-parent > div{
        font-size: 30rem;
        max-width: 100%;
    }
</style>
<div class="">
  <div class="row">
    <div id="snowflake-parent" class="col-md-8 text-center">
        <div id="sn" class="bi bi-snow"></div>
    </div>
    <div class="col-md-4">
        <h3 class="text-uppercase text-center">Snow</h3>
        {{#if IsFirefox}}
        <a class="btn btn-primary w-100 p-3" href="https://addons.mozilla.org/ru/firefox/addon/snow_on_pages/" role="button" title="{{__ "Download rigth now!!"}}">{{__ "Download"}}</a>
        {{else}}
        <a class="btn btn-primary disabled w-100 p-3" tabindex="-1" role="button" aria-disabled="true" href="E" title="{{__ "Dont available in your browser ),:"}}">{{__ "Download"}}</a>
        {{/if}}
        
        <h6 style="    margin-top: .5rem;" class=" text-center">
        {{#if IsFirefox}}
        {{__ "Download rigth now!!"}}
        {{else}}
        {{__ "Dont available in your browser ),:"}}
        {{/if}}
        </h6>
    </div>
    <div class="col-md-8">
        <h2 class="text-decoration-line">{{__ "About"}}</h2>
        <p style="margin-top: 10px">
            {{__ "This is a browser extension that adds snow to all pages."}}
        </p>
    </div>
  </div>
</div>